@CHARSET "UTF-8";
*{
margin:0;
padding:0;
font-size:100%;
font-family: 'Ubuntu', sans-serif;
}

html, body { height: 100%; }

#site-name{
max-width: 350px;
width:auto;
}

#site-name a{
	text-decoration:none;
	color:#2E2E2E;
	font-size:1.4em;
}

#navigation2{
	display:none;
}

#navigation{
	background-color:#111111;
	position:fixed;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	line-height:30px;
	top:0;
	left:0;
	width:100%;
	height: 30px;
	box-shadow: 1px 1px 10px #111111;
}

#main-menu>li>a{
	color:#FFFFFF;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

#main-menu>li>a:hover{
	background-color:#2E2E2E;
}

ul.links.inline{
	display:inline-block;
	float:left;
	width:100%;
	height:20px;
}

ul.links.inline>li{
	font-size:13px;
}

img#btnresponsivo{
	display:none;
}

@media all and (max-width:768px){
	#navigation{
		display:none;
	}
	
	img#btnresponsivo{
		display:block;
		position:absolute;
		clear:both;
		left:30px;
		top:0;
		width:30px;
		height:30px;
		z-index: 20;
	}
	
	#navigation2{
	position:absolute;
	background-color:#111111;
	display:block;
	top:0;
	left:0;
	width:100%;
	height:30px;
	}
	
	#main-menu{
	display:none;
	position:absolute;
	background-color:#111111;
	top:30px;
	max-width:150px;
	width:auto;
	}
	
	#main-menu>li{
		display:block;
		background-color:#111111;
		max-width:150px;
		width:auto;
		min-height:25px;
		height:auto;
		padding:2px;
	}
}

#logo{
	margin-top: 35px;
	margin-left:10px;
	margin-bottom:5px;
	display: inline-block;
	vertical-align: middle;
	width: 320px;
	height: 100px;
	text-align: left;
	float:left;
}

#name-and-slogan{
	margin-left: 10px;
	margin-top: 63px;
	width: 500px;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	float: left;
}

#site-slogan{
	color:#0489B1;
	font-size:1.2em;
}

#breadcrumb a{
	font-size:14px;
	text-decoration: none;
}

#page-wrapper{
	height:100%;
}

#main-wrapper{
	min-height:70%;
	height:auto;
}

#content{
	background-color:#F0FAFF;
	padding:5px 0;
}

.node{
	width:100%;
	min-height:100px;
	height:auto;
	overflow:hidden;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:10px;
}

.node>.content{
	width:70%;
	min-height:100px;
	height:auto;
	overflow:hidden;
	float:left;
}

.node[typeof="foaf:Document"]>.content{
	border-left:none;
}

.node[typeof="foaf:Document"]{
	border-bottom: none;
}

.node>.content p{
	margin:3px 5px;
}

.content h2[property="dc:title"]{
	min-height:100px;
	height:auto;
	line-height:100px;
	float:left;
	overflow: hidden;
	display:table-cell;
	vertical-align: middle;
}

.content h2[property="dc:title"]>a{
	font-size:3em;
	text-transform: uppercase;
	text-decoration:none;
	color:#4E8B9E;
	margin:5px 7px;
}

.node-readmore{
	float:right;
}

.node-readmore>a{
	color:#FFFFFF;
	text-decoration:none;
	font-size:14px;
	clear:both;
	border-radius:8px;
	padding:3px;
	background-color:#99AEEA;
}

.node-readmore>a:hover{
	background-color:#335CD6;
}

#footer{
	background-color:#14141F;
	color:#FFFFFF;
	min-height:300px;
	height:auto;
	overflow:hidden;
	position:relative;
	z-index: 10;
	bottom:-300px;
	left:0;
}

.region-footer{
	max-width:1024px;
	width:auto;
	min-height:100px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
}

.region-footer>.block{
	width:300px;
	min-height: 100px;
	height:auto;
	overflow:hidden;
	float:left;
	margin:8px;
	border:1px solid #323236;
	border-radius:7px;
}

.region-footer>.block>h2{
	text-align:center;
	width:100%;
	margin-bottom:5px;
	color:#2E2E2E;
	font-size:1.2em;
	text-transform:capitalize;
	font-weight:normal;
	background-color:#F0FAFF;
}

.region-footer>.block>.content{
	margin:2px 5px;
}

#highlighted{
	max-width:1024px;
	width:auto;
	min-height:200px;
	height:auto;
	overflow:hidden;
	display:block;
	float:none;
	clear:both;
	margin:2px auto;
}

.region-highlighted{
	width: inherit;
	min-height: 180px;
	height: auto;
	overflow: hidden;
	float: left;
	margin: 5px 8px;
}

.region-highlighted>.block{
	margin:2px 5px;
	width:320px;
	min-height:200px;
	height:auto;
	overflow:hidden;
	border:1px solid #CCCCCC;
	border-radius:8px;
	box-shadow: 1px 2px 1px #CCCCCC;
	float:left;
	margin:4px 7px;
}

.region-highlighted h1,.region-highlighted h2,.region-highlighted h3{
	text-align:center;
	font-size:1.2em;
	color:#0489B1;
	border-bottom:1px solid #CCCCCC;
	text-transform: capitalize;
	background-color:#CCCCCC;
}

.region-highlighted .content{
	text-align:center;
	color:#4D4D4D;
	margin:3px 5px;
}

.field-name-field-tags{
	width: 100%;
	min-height: 40px;
	height:auto;
	overflow:hidden;
	clear: both;
	margin-top: 50px;
}

.field-items{
	margin-top:5px;
}

.field-name-field-tags a{
	background-color:#335CD6;
	color:#FFFFFF;
	padding:1px 3px;
	margin:1px 4px;
	text-decoration:none;
}

.nodocont{
	width:80%;
	margin:1px auto;
	background-color:#FFFFFF !important;
}


#page-title{
	width:300px;
	min-height:20px;
	height:auto;
	overflow: hidden;
	float:left;
	margin:3px 10px;
	font-size:1.4em;
	text-transform:uppercase;
}
